@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding-top: 180px;
  background-color: #f1eef6;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  /* background: #000000; */
  /* z-index: 10; */
}

header section {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  padding-bottom: 0px;
  background: #a6bddb;
}

@media (max-width: 1515px) {
  header section {
    max-width: 100%;
  }
}

.me {
  width: 10%;
  border-radius: 100px;
  border: 2px solid #f1eef6;
}

.logo {
  width: 62%;
  transform: translate(-32px, 3.1px);
}

.about, .projects {
  color: #74a9cf;
  max-width: 90%;
  padding-left: 4%;
}

.projects {
  padding-left: 0;
  padding-top: 3%;
}

.flickr {
  color: #74a9cf;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #f1eef6;
}

a:hover {
  color: #3690c0;
}

button {
  -webkit-appearance: none;
          appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
         filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  border: none;
  background: #3690c0;
  color: #f1eef6;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 17px;
  cursor: cursor;
}

button:hover {
  color: #3690c0;
  background: #f1eef6;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

/* .wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
} */

.slider-wrapper {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.slide {
  height: 50vh;
  background-size: cover !important;
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
}

.previousButton, .nextButton {
		position: absolute;
    top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		background: url('http://icons.iconarchive.com/icons/icojam/blue-bits/128/arrow-right-icon.png') no-repeat center center / 36px;
		width: 10%;
		text-indent: -9999px;
		cursor: pointer;
}

.previousButton:hover, .nextButton:hover {
  background: url('http://icons.iconarchive.com/icons/icojam/blue-bits/128/arrow-right-icon.png') no-repeat center center / 36px;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
          transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -10px;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -10px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-content .inner button{
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.slider-content .inner h1 {
  font-weight: 700;
  margin: 0 auto;
  max-width: 840px;
  color: #f1eef6;
  text-shadow: 1px 1px #020b10;
  font-size: 44px;
  line-height: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a6bddb;
  padding: 20px;
  padding-top: 0px;
  color: #f1eef6;
}

.icon {
  margin-left: 10px;
}
.carousel {
  position: relative;
  left: 25%;
  max-width: 50%;
  padding-bottom: 30px;
}

.slider-content .inner p {
  color: #f1eef6;
  text-shadow: 1px 1px black;
  font-size: 24px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}


@media (max-height: 500px) {
  /* .slider-wrapper, .slide {
    height: calc(100vh - 75px);
  } */

  .slider-wrapper{
  font-size: 10px;
  }
}

@media (max-width: 640px) {
    body {
      padding-top: 75px;
      font-size: 14px;
  }

  .me {
    width: 30%;
    transform: translate(-27px, -28.9px);
  }

  .logo {
  width: 81%;
  transform: translate(70px, -94.9px);
  }

  header section {
    height: 70px;
  }

  .about {
    max-width: 95%;
    padding-left: 1%;
  }
  .slider-wrapper, .slide {
    height: calc(80vh - 75px);
  }

    .slider-content .inner p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .carousel {
    max-width: 95%;
    left: 2.5%;
  }

  .slider-wrapper {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

  .slide {
    height: 30vh;
    background-size: cover !important;
  }

  button {
    font-size: 14px;
  }


}



@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 20px;
  }
}
